@import "common";

body {
  background: #FDECD2;
}

.tabBar {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: px2rem(100);
  background: #a30506;
  .bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    color: #FEFEFE;
    font-size: px2rem(22);
    .icon {
      font-size: px2rem(42);
    }
  }
  .active {
    color: #a30506;
    background: #FFF;
  }
}

.mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.dialog {
  position: fixed;
  z-index: 5000;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: px2rem(600);
  text-align: center;
  overflow: hidden;
  border-radius: px2rem(3);
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  .dialog-content {
    padding: 1.6em 1.6em 2em;
    text-align: left;
    font-size: px2rem(34);
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: #353535;
  }
  .dialog-btn {
    text-align: right;
    font-size: px2rem(32);
    line-height: px2rem(84);
    padding: 0 1.6em 0.7em;
    .btn {
      display: inline-block;
      vertical-align: top;
      padding: 0 .8em;
      color: #09BB07;
    }
    .btn-default {
      color: #808080;
    }
    .btn-primary {
      color: #09BB07;
    }
    .btn:active {
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
}

// 登陆页面
.login {
  height: 100%;
  padding-bottom: px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: px2rem(500);

    input {
      width: px2rem(460);
      height: px2rem(60);

      padding: 0 px2rem(30);
      border-radius: px2rem(60);
    }

    button {
      width: px2rem(460);
      height: px2rem(60);
      margin-top: px2rem(40);
      color: #FFF;
      background-color: #f1c51d;
      border-radius: px2rem(60);
    }
  }

  .desc {
    padding: 0 px2rem(30);
    margin-top: px2rem(150);
    font-size: px2rem(24);
    color: #333333;
  }

}

// 代理中心
.proxy {
  height: 100%;
  padding-bottom: px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;

  .my {
    display: flex;
    align-items: center;

    height: px2rem(180);
    padding-left: px2rem(30);
    background: #EBE3E3;
    opacity: 0.95;

    .my-img {
      width: px2rem(130);
      height: px2rem(130);
    }
    .my-center {
      margin-left: px2rem(50);
      color: #333333;
      font-size: px2rem(26);
      .red {
        color: #dc3545;
      }
    }

  }

  .list {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: px2rem(30);
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      width: px2rem(215);
      height: px2rem(215);
      margin: px2rem(15) 0;
      border-radius: px2rem(20);

      background: url(../image/proxy_frame.png) no-repeat;
      background-size: px2rem(215) px2rem(215);

      .icon {
        font-size: px2rem(60);
        color: #999;
      }

      .item-name {
        margin-top: px2rem(15);
        font-size: px2rem(26);
        color: #666;
      }

    }
    .active {
      .icon {
        color: #f06063;
      }
      .item-name {
        color: #ee3e53;
      }
    }

  }

}

// 分享二维码页面
.code {
  height: 100%;
  padding-bottom: px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;
  .QR_Code {
    display: flex;
    justify-content: center;
    padding-top: px2rem(400);
    img {
      width: px2rem(320);
      height: px2rem(320);
    }
  }
}

// 拆红包
.openRedBag {
  padding-bottom: px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;
  .redBag {
    display: flex;
    flex-wrap: wrap;

    padding-top: px2rem(450);

    .bag-item {
      display: flex;
      justify-content: center;
      margin-top: px2rem(20);
      width: 20%;
      img {
        width: px2rem(120);
        height: px2rem(155);
      }
    }

  }
}

// 红包
.redBag {
  height: 100%;
  padding-bottom: px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;
  .ad {
    display: flex;
    align-items: center;

    height: px2rem(50);
    background: #1b1b1b;
    span {
      padding: 0 px2rem(10);
      font-size: px2rem(20);
      opacity: 0.7;
      color: #fefefe;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: px2rem(100);
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: px2rem(20);
      height: px2rem(60);
      background-color: rgba(0, 0, 0, .6);
      color: #fefefe;
      opacity: 0.8;
      font-size: px2rem(26);
    }

    .info-id {
      border-bottom-right-radius: px2rem(30);
      border-top-right-radius: px2rem(30);
    }

    .info-money {
      border-top-left-radius: px2rem(30);
      border-bottom-left-radius: px2rem(30);
    }

  }

  .bag {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 px2rem(120);

    margin-top: 20%;
    .bag-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: px2rem(200);
      height: px2rem(260);

      padding: px2rem(30) 0;
      margin-bottom: px2rem(50);

      background-image: url(../image/bag.png);
      background-size: 100% 100%;

      .item-price {
        margin-top: px2rem(30);
        font-size: px2rem(40);
        color: #fd7e14;
        span {
          font-size: px2rem(20);
        }
      }
      .desc {
        margin-top: px2rem(50);
        font-size: px2rem(24);
        color: #a30506;
      }
    }
  }

}

.detail {
  height: 100%;
  padding: px2rem(30) px2rem(30) px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;
  .list {

    .title {
      display: flex;
      align-items: center;
      justify-content: space-around;

      height: px2rem(90);

      margin: 0 auto;
      text-align: center;

      background-color: #f9e7e8;
      border-radius: px2rem(6);
      border: solid 1px #dfdfdf;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-around;

      height: px2rem(70);
      text-align: center;

      background-color: #ffffff;
      border-radius: px2rem(6);
      border: solid 1px #dfdfdf;
    }

    div {
      .date {
        flex: none;
        width: px2rem(350);
      }
      .price {
        flex: 1;
      }
      .user {
        flex: none;
        width: px2rem(150);
      }
      .status {
        flex: none;
        color: #ee3e48;
        width: px2rem(150);
      }
    }

  }
}

.partner {
  height: 100%;
  padding: px2rem(30) px2rem(30) px2rem(100);
  background: url(../image/login_bg.png) no-repeat fixed;
  background-size: 100% 100%;
  box-sizing: content-box;
  .desc {
    display: flex;
    align-items: center;

    height: px2rem(160);

    padding: px2rem(30);

    background-color: #FFF;
    border-radius: px2rem(6);

    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);

    .desc-line {
      width: px2rem(20);
      height: px2rem(120);
      background-color: #ff767d;
      border-radius: px2rem(6);
    }
    .desc-content {
      margin-left: px2rem(30);
      color: #ee3e48;
    }
  }

  .count {
    display: flex;
    align-items: center;

    margin-top: px2rem(30);
    padding: px2rem(30);

    height: px2rem(90);
    background-color: #FFF;
    border-radius: px2rem(6);

    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .third_level {
    margin-top: px2rem(30);

    .level-list {
      margin-bottom: px2rem(30);
      .cell {
        box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
        .cell-title {
          display: flex;
          align-items: center;

          height: px2rem(90);
          background-color: #FFF;
          border-radius: px2rem(6);

          .icon {
            padding: px2rem(30);
            font-size: px2rem(50);
            color: #ff767d;
          }
        }
      }

      .item-content {

        .content-title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: px2rem(20) 0;

          font-size: px2rem(28);
          color: #ee3e48;

          border-bottom: 1px solid #bfbfbf;
        }

        .content-item {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: px2rem(20) 0;

          font-size: px2rem(26);
          color: #ee3e48;
        }

      }

    }

  }
}

.excitation {
  padding-bottom: px2rem(100);
  box-sizing: content-box;
  .header {
    line-height: px2rem(50);
    height: px2rem(300);
    padding: px2rem(50) px2rem(30);
    background-color: #ff767d;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    .desc {
      font-size: px2rem(28);
      color: #f1c51d;
      opacity: 0.7;
    }

    .price {
      font-size: px2rem(28);
      color: #FFF;
      opacity: 0.7;
      span {
        color: #f1c51d;
      }
    }
  }
  .announcement {
    display: flex;
    justify-content: center;

    margin: px2rem(30) 0;

    font-size: px2rem(26);
    color: #333333;
  }

  .extract_status {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: px2rem(690);
    height: px2rem(90);

    margin: px2rem(30) auto;

    color: #333;
    background-color: #f9e7e8;
    border-radius: px2rem(6);
    border: 1px solid #e5e5e5;
    div {
      font-size: px2rem(28);
    }
  }

  .list {
    margin-bottom: px2rem(30);

    .title {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: px2rem(690);
      height: px2rem(90);

      margin: 0 auto;

      background-color: #f9e7e8;
      border-radius: px2rem(6);
      border: 1px solid #e5e5e5;
      div {
        width: 50%;
        text-align: center;
        font-size: px2rem(28);
      }
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: px2rem(690);
      height: px2rem(70);

      margin: 0 auto;

      background-color: #FFF;
      border-bottom: 1px solid #dfdfdf;
      div {
        width: 50%;
        text-align: center;
        font-size: px2rem(28);
        color: #333333;
      }
    }

  }
}
